[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cprr"]
	path = cprr
	url = https://github.com/anhoej/cprr
[submodule "qicharts"]
	path = qicharts
	url = https://github.com/anhoej/qicharts
[submodule "qicharts2"]
	path = qicharts2
	url = https://github.com/anhoej/qicharts2
